@media (max-width: 991px) {
  /* navbar collapse */
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
 /* finish navbar collapse */

 .lates-headline {
   display: none;
 }
 #img-wraper {
   width: 100%;
 }
 .col2 {
   width: 49.75%;
   display: inline-block;
   vertical-align: top;
 }
 .col1{
   width: 100%;
 }
 .hide1 {
   display: none;
 }
 .foot-bot .col-sm-3 img {
 	width: 100%;
 }
 .this-week > a[class~=btn] {
    padding: 12px 15%;
    width: 100%;
    margin: 8% auto;
    background: #eee;
 }
  .this-week li{
  	padding: 5%;
  }
 #grid4:nth-child(2){
 	background: red;
 }
 .border-row div:nth-child(even){
   border-right: none;
   border-bottom: 1px solid #ddd;
 }
  .border-row div:last-child{
   border-bottom: none;
 }
  .border-row div:nth-child(5){
   border-bottom: 1px solid #ddd;
 }
  .hide2{
    display: none;
  }

}



@media only screen and (max-width:767px) {
  .col2 {
  	display: block;
  	width: 100%
  }
  .col2 img {
    margin: 0 auto;
  }
   .hide2{
  	display: none;
  }
  .col-first {
    height: 500px;
 }
} 
